<link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/css/toastr.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">