<div class="navigation position-fixed">
    <nav>
        <ul>
            <li class="bg-info">
                <a href="{{ url_for('dashboard.site_dashboard') }}" class="text-white d-block text-center">
                    <i class="fas fa-tachometer-alt"></i>
                </a>
            </li>
            <li class="bg-info">
                <a href="{{ url_for('appointment.site_appointment') }}" class="text-white d-block text-center">
                    <i class="fas fa-calendar"></i>
                </a>
            </li>
            <li class="bg-danger">
                <a href="{{ url_for('auth.logout') }}" class="text-white d-block text-center">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>