<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment APP</title>
    {% include  'includes/css.html' %}
</head>
<body>

<div class="container mt-5">
    <h1 class="text-dark text-center">App Login</h1>
    <form autocomplete="off">
        <div class="login w-50 mx-auto">
            <div class="row my-2">
                <label for="email">e-mail</label>
                <input type="email" name="email" id="email" placeholder="e-mail" class="form-control">
            </div>
            <div class="row my-2">
                <label for="password">password</label>
                <input type="password" name="password" id="password" placeholder="password" class="form-control">
            </div>
            <div class="row my-2">
                <button type="button" onclick="login()" class="btn btn-info text-white">login</button>
            </div>
        </div>
    </form>

</div>

{% include  'includes/script.html' %}
</body>
</html>